---
import Footer from '../components/Footer';
import Hero from '../components/Hero'
import Projects from '../components/Projects'
import Layout from '../layouts/Layout.astro'

---

<Layout title="Lulala">
	<main class="px-6 py-[8vh] max-w-[86ch] mx-auto xl:text-lg dark:prose-invert">
		<Hero />
		<Projects />
		<Footer />
	</main>
</Layout>